<div class="jumbotron">
  <h1>Beefy Wonderland</h1>
  <p>A fun joyride through a realm of beef.</p>
  <p>
    <a class="btn btn-primary btn-lg" href="<%= signin_url %>" role="button">Sign in</a>
    <a class="btn btn-primary btn-lg" href="<%= new_user_url %>" role="button">Sign up</a>
  </p>
</div>