<h1>Listing Attractions</h1>

<table>
  <th> Name </th>
  <th> Tickets </th>
  <th> Details </th>

  <% @attractions.each do |attraction| %>
    <tr>
      <td><%= attraction.name %></td>
      <td><%= attraction.tickets %></td>
      <td><%= link_to "Show #{attraction.name}", attraction %></td>
    </tr>
    <% end %>
</table>

<br>

  <%= link_to "New Attraction", new_attraction_path %>
